/*
 * Base overwrites
 */
body {
  color: #efefef;
  background: #333333;
  background-image: url(../images/tactile_noise.png);
  background-position: center top;
}

#main {
  background-color: transparent;
  background-image: url(../images/topbg.png);
  background-position: center top;
  background-repeat: no-repeat;
}

header.branding {
  background-image: url(../images/dark_wall.png);
  background-position: center;
  border-bottom: 1px solid #191919;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(33, 33, 33, 0.80);
  box-shadow: 0px 3px 5px 0px rgba(33, 33, 33, 0.80);
}

section.page-site-name {
  font-size: 72px;
}

/*
 * Links
 */
a {
  color: #0072ef;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:hover, a:active {
  outline: none;
  text-decoration: underline;
}

.branding nav li a:hover, .branding nav li a.active, .branding nav li a.active-trail {
  background-color: black;
  color: white;
}

.media-slider {
  float: right;
  width: 640px;
}
.media-slider .slideshow-controls-bottom {
  z-index: 10;
  text-align: center;
  margin: 10px auto 0;
}

.media-slider .slideshow-controls-bottom a {
  background-color: #555;
  color: #333;
  border-radius: 8px;
  display: inline-block;
  padding: 5px;
  font-size: 1px;
  float:left;
  margin-left: 4px;
}

.media-slider .slideshow-controls-bottom a.activeSlide {
  background-color: #777;
}

.media-slider .slideshow-controls-bottom a:hover {
  background-color: #333;
}


.view-news-flow .views-row {
  border: none;
  background-color: rgba(33, 33, 33, 0.60);
  margin-bottom: 16px;
  border: 1px solid black;
}

.view-news-flow .views-row>* {
  margin: 0 20px;
}

.view-news-flow .views-row>h2 {
  font-size: 21px;
  font-weight: bolder;
  margin-bottom: 10px;
}

@media all and (max-width: 959px) {
  .media-slider {
    float:none;
    padding: 0 34px 10px;
  }
}
